@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Merriweather;
  src: url(fonts/Merriweather/Merriweather-Regular.ttf);
}

body {
  background-color: #eaeded;
}

.social {
  width: 1em;
  height: 1em;
}

h4,
h2 {
  font-family: Merriweather;
  padding-top: 0px;
  margin-top: 0px;
}

#root {
  display: flex;
  align-items: flex-start;
  /* margin-left: 10%; */
}

.imgSofa {
  width: 70%;
  /* margin-left: 10%; */
  border: #444 1px solid;
  border-radius: 50%;
  padding: 5px;
}

.imDiv {
  width: 35%;
  display: flex;
}
.nameDiv {
  width: 40%;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: auto;
}
.name {
  font-size: 1em;
  font-family: Merriweather;
  display: inline;
  vertical-align: top;
}
.prof {
  font-size: 0.5em;
}
.sepLine {
  height: 3px;
  background-color: #efd3d7;
}
.descriptionOdd {
  padding-top: 10px;
  height: 100%;
  border-radius: 20px;
  width: 80%;
  text-align: center;
  margin: auto;
}
.descriptionEven {
  padding-top: 10px;
  height: 100%;
  border-radius: 20px;
  width: 80%;
  text-align: center;
  margin: auto;
  order: 2;
}

.slideShowOdd {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: auto;
}
.slideShowEven {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: auto;
}

.oneProject {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.row {
  height: 20%;
  display: flex;
  flex-direction: row;
  max-width: 700px;
}

.rowEven {
  margin: auto;
}

/* Hide the images by default */
.mySlides0,
.mySlides2 {
  display: none;
  height: 100%;
}

.mySlides1,
.mySlides3 {
  display: none;
  height: 100%;
  margin: auto;
}

/* Add a transparency effect for thumnbail images */
.demo0,
.demo1,
.demo2,
.demo3 {
  opacity: 0.6;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 2px;
}

.active,
.demo0,
.demo1:hover {
  opacity: 1;
}

ol {
  text-align: left;
  margin-top: 0px;
}

.desc,
li {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 3vw;
}
.fieldName {
  font-weight: bold;
  font-family: Merriweather;
}
.technologiesName {
  margin-top: 15px;
  font-size: 1em;
  font-weight: bold;
  font-family: Merriweather;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  padding-left: 0px;
}
/* li{
    font-size:0.7vw;
  } */
a {
  margin: 1vw;
  color: #3b3db3;
}

.coverScreen {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  filter: blur(4px);
  display: none;
}

* {
  box-sizing: border-box;
}

.mainImage {
  max-height: 380px;
  max-width: 700px;
  /* float: left; */
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}

.top {
  width: 13vw;
  background: darkgrey;
  border-radius: 5px;
  text-align: center;
  font-size: 4vw;
  padding: 10px;
}

/*-----------------------popup--------------------
/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 50px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  font-size: 10px;
}

/*   hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
